html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #render-target {
  height: 100%;
}

body {
  font-family: 'Georgia', serif;
}

img {
  max-width: 100%;
}

.container {
  @include container();
}
