
// colors
$blue-dark: #184154;
$blue-light: #13EDF0;
$white: #FFF;
$black: #000;
$pink: #FF4159;

// Button Colors
$color-veggies: #41FF80;
$color-fats: #FFF241;
$color-fruit: #D641FF;
$color-protein: $pink;
$color-carbs: #FF8341;
$color-sugar: $blue-light;
